flask
flask-cors
pymongo
python-dotenv
bcrypt
pyjwt
pytesseract
opencv-python
pillow
pyzbar
numpy
beautifulsoup4
tldextract
validators
openai-whisper
reportlab
google-generativeai
pyannote.audio
soundfile